<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cursos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="listas">
            <ion-segment-button checked value="done">
                Concluídos
            </ion-segment-button>
            <ion-segment-button value="toDo">
                Proxímos
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="listas">
        <ion-list *ngSwitchCase="'done'">
            <ion-list *ngFor="let curso of cursosDone" (click)="detalhar(curso)">
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="{{curso.img_icon}}">
                    </ion-thumbnail>
                    <h2>{{curso.nome}}</h2>
                    <p>Concluído em: {{curso.dt_realizacao}}</p>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'toDo'">
            <ion-list *ngFor="let curso of cursosToDo" (click)="detalhar(curso)">
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="{{curso.img_icon}}">
                    </ion-thumbnail>
                    <h2>{{curso.nome}}</h2>
                    <p>Iniciará em: {{curso.dt_realizacao}}</p>
                </ion-item>
            </ion-list>
        </ion-list>
    </div>

</ion-content>