.menu-inner{
    .header-md{
        //background-color: black;
    }
    .toolbar-md{
        min-height: 10px;
    }
    .content-md{
        background: gray;
    }

    .menuLateralItem {
        background-color: transparent;
    }
}